In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
pd.set_option("display.float_format", lambda x: "%.2f" % x)

In [8]:
projects = pd.read_csv("projects.csv").drop("Unnamed: 0", axis=1)
projects.head()

,title,type,address,price,built_area,private_area,status,bedrooms,bathrooms,parking_slots,finishes,stratum,developers,country,city,zone
0,urbana 30,apartamento en venta en bogotá,carrera 30 no. 13a - 33,193000000,35.00,30.00,sobre planos,1,1,NaN,sin acabados,4,constructora bolívar,colombia,bogota,centro
1,bauhaus 4 - 23,apartaestudio en venta en bogotá,calle 24 no. 4a - 15,169500000,25.00,22.37,sobre planos,1,1,comunal,con acabados,3,buenvivir,colombia,bogota,centro
2,bauhaus 4 - 23,apartamento en venta en bogotá,calle 24 no. 4a - 15,169500000,25.00,22.37,sobre planos,1,1,comunal,con acabados,3,buenvivir,colombia,bogota,centro
3,torre farfala,apartaestudio en venta en bogotá,calle 10 no. 30 -73,202587000,40.20,35.70,sobre planos,1,1,comunal,con acabados,3,kuman s.a.s,colombia,bogota,centro
4,aruma,apartaestudio en venta en bogotá,calle 6 no. 18 - 04,140000000,28.00,24.00,sobre planos,1,1,comunal,con semiacabados,3,alcabama,colombia,bogota,centro

# 1. Tipos de datos.

In [11]:
projects.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          616 non-null    object
 1   type           616 non-null    object
 2   address        616 non-null    object
 3   price          616 non-null    int64
 4   built_area     616 non-null    float64
 5   private_area   608 non-null    float64
 6   status         616 non-null    object
 7   bedrooms       616 non-null    int64
 8   bathrooms      616 non-null    int64
 9   parking_slots  470 non-null    object
 10  finishes       616 non-null    object
 11  stratum        616 non-null    object
 12  developers     616 non-null    object
 13  country        616 non-null    object
 14  city           616 non-null    object
 15  zone           616 non-null    object
dtypes: float64(2), int64(3), object(11)
memory usage: 77.1+ KB

Encontramos que **parking_slots** es la única columna con campos nulos.

Analicemos los valores de la columna **parking_slots**.

In [13]:
projects["parking_slots"].unique()

array([nan, 'comunal', '1', '4', '3', '2'], dtype=object)

La columna **parking_slots** está compuesta predominantemente por datos númericos.


Interpretamos el valor **comunal** como propiedades que no tienen puesto de estacionamiento propio.


Reemplacemos el valor **nan** y **comunal** por el número 0 y cambiemos el tipo de dato de la columna.

In [32]:
projects["parking_slots"][(projects["parking_slots"] == "comunal")] = 0

C:\Users\Diego Estrada\AppData\Local\Temp\ipykernel_3588\3898128278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  projects["parking_slots"][(projects["parking_slots"] == "comunal")] = 0